.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

img {
    height: 200px;
    border: solid 2px black;
}
 * {
  background-color: rgb(244, 245, 201);
 }
 h1 {
   font-size: 46px;
 }
 #itemTitle {
  font-size: 36px;
 }